@page "/recover"

<h3>Recover Password</h3>

<br />

<p>Please, complete the fields below. If they match with our data, you will receive a new password soon enough.</p>
<form>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Screen name</label>
        <input type="text" class="form-control" placeholder="Screen name">
    </div>
    <div class="form-group">
        <label>Lucky number</label>
        <input type="password" class="form-control" placeholder="Lucky number">
    </div>
    <button type="submit" class="btn btn-primary">Remember Password</button>
</form>

@code {

}
