@page "/"
@inject PersistentData memo

<h1>Login - Authorization and Authentication</h1>

<br />

<p>
    Simple login system MacGyver'ed in Blazor (C# + HTML + CSS) for a college project. It manages the login data for users of various roles, and allow changes on the DB based on such roles.
</p>
<p>
    The navigation menu (left side on medium-big screens, on top on smaller screens) will also be used to demonstrate authorization and authentication.
</p>
<p>
    HOWEVER... since this was all MacGyver'ed instead of using proper authentication and authorization stuff, it won't work as intended at all times. For the navigation menu to the left to update, you will have to <b>go to cellphone mode (F12 on Windows), click on the collapsable menu twice to open and close it, then leave cellphone mode)</b>
</p>
<p>
    Final version will <b>NOT</b> be continued or updated after project deadline. Hopefully, I could make everything functional to an acceptable minimum.<br />
    On this version, the overall design and layout was not a primary (or even secondary) objective... so, it might be a little unpleasant to the eye in some cases.
</p>

<hr />

@if (memo.Logged)
{
    <a href="main" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Get started</a>
}
else
{
    <a href="login" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Get started</a>
}