@page "/"
@inject PersistentData memo

<h1>Login - Authorization and Authentication</h1>

<br />

<p>
    Simple login system made in Blazor (C# + HTML + CSS + a tiny little piece of JS) for a college project. It managers the login data for users of various roles, and allow changes on the DB based on such roles.
</p>
<p>
    The navigation menu (left side on medium-big screens, on top on smaller screens) will also be used to demonstrate authorization and authentication.
</p>
<!--
<p>
    By request, the project must have at least an One-to-One, an One-to-Many, and a Many-to-Many Relationship:
    <ul>
        <li>
            <b>One-to-One:</b> each Member has their rental history, which is unique to them (clearly, this is a filler);
        </li>
        <li>
            <b>One-to-Many:</b> one Member can have custody of many Book, but each book can only be in custody of one Member;
        </li>
        <li>
            <b>Many-to-Many:</b> one Author can have many Books, and a Book can have many Authors; the same can be said for Categories and Books;
        </li>
    </ul>
</p>
-->
<p>
    Final version will <b>NOT</b> be continued or updated after project deadline. Hopefully, I could make everything functional to an acceptable minimum.<br />
    On this version, the overall design and layout was not a primary (or even secondary) objective... so, it might be a little unpleasant to the eye in some cases.
</p>

<hr />

@if (memo.Logged)
{
    <a href="main" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Get started</a>
}
else
{
    <a href="login" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Get started</a>
}